In [10]:
import Pulling_Box_Office_Revenues as PBOR

In [11]:
Box_office_df = PBOR.Pull_Box_Office_Revenues()

In [12]:
Box_office_df

                                            Title Lifetime Gross  Year
Rank
1      Star Wars: Episode VII - The Force Awakens    936,662,225  2015
2                               Avengers: Endgame    858,373,000  2019
3                                          Avatar    760,507,625  2009
4                                   Black Panther    700,059,566  2018
5                          Avengers: Infinity War    678,815,482  2018
...                                           ...            ...   ...
996                   Men in Black: International     80,001,807  2019
997                                A Star Is Born     80,000,000  1976
998                                       Knowing     79,957,634  2009
999                                     War Horse     79,884,879  2011
1,000                            The Golden Child     79,817,937  1986

[1000 rows x 3 columns]